.sidenav-container {
  height: 75vh;
}

mat-sidenav {
  width: 250px;
}

.topLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.topLogo img {
  width: 200px;
  height: auto;
}
