<header class="left_side_header">
  <nav class="navbar">
    <div class="topLogo">
      <a routerLink="/"
        ><img src="../../../../../assets/images/teleinkz.jpg"
      /></a>
    </div>
    <mat-sidenav-container class="sidenav-container">
      <mat-sidenav #sidenav mode="side" opened="true">
        <mat-toolbar>Telelinkz Sales Portal</mat-toolbar>
        <mat-nav-list>
          <mat-list-item (click)="toggleProviders()">
            <mat-icon>wifi</mat-icon>
            <span>Internet Providers</span>
            <mat-icon>chevron_right</mat-icon>
          </mat-list-item>
          <div *ngIf="providersOpen">
            <mat-nav-list>
              <a mat-list-item routerLink="/xfinity">Xfinity</a>
              <a mat-list-item href="#">Cox</a>
              <a mat-list-item routerLink="/xfinity">Xfinity</a>
              <a mat-list-item href="#">Cox</a>
              <a mat-list-item routerLink="/xfinity">Xfinity</a>
              <a mat-list-item href="#">Cox</a>
              <a mat-list-item routerLink="/xfinity">Xfinity</a>
              <a mat-list-item href="#">Cox</a>
              <a mat-list-item routerLink="/xfinity">Xfinity</a>
              <a mat-list-item href="#">Cox</a>
              <a mat-list-item routerLink="/xfinity">Xfinity</a>
              <a mat-list-item href="#">Cox</a>
              <a mat-list-item routerLink="/xfinity">Xfinity</a>
              <a mat-list-item href="#">Cox</a>
              <a mat-list-item routerLink="/xfinity">Xfinity</a>
              <a mat-list-item href="#">Cox</a>
              <!-- Add more providers as needed -->
            </mat-nav-list>
          </div>
        </mat-nav-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <!-- Main content goes here -->
      </mat-sidenav-content>
    </mat-sidenav-container>
  </nav>
</header>
