.left_side_header{
  height: 99vh;
  overflow: hidden;
}
.sidenav-container {
  height: 75vh;
}
mat-sidenav {
  width: 250px;
}

.topLogo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.topLogo img {
  width: 132px;
  height: auto;
}
span.mat-mdc-list-item-unscoped-content.mdc-list-item__primary-text {
  align-items: center;
  display: flex;
  gap: 10px;
}