body {
  margin: 0;
  font-family: "Poppins", sans-serif;
}
header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  background-color: #f7f7f7;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  z-index: 999;
}
.logo {
  margin-top: 7px;
}

.nav-dropdown {
  display: none;
  /* opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; */
}

.navbar {
  display: flex;
  align-items: center;
  padding: 25px 10px 10px;
  max-width: 1414px;
  margin: 0 auto;
}

.menu {
  display: flex;
  gap: 60px;
  align-items: center;
  cursor: pointer;
}

#menu {
  padding-left: 50px;
}

.menu a {
  text-decoration: none;
  color: #4b4b4b;
  font-size: 16px;
  font-weight: 500;
}

.hire-developer-btn {
  margin-left: auto;
}

.hire-developer-btn .hire-dev {
  color: #fff;
  font-size: 14px;
  width: 165px;
  height: 38px;
  font-weight: 600;
  border-radius: 6px;
  background: #f93f05;
  display: flex;
  justify-content: center;
  align-items: center;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.line {
  width: 25px;
  height: 3px;
  margin: 3px 0;
  background-color: #000;
}

@media only screen and (max-width: 1040px) {
  .menu a {
    font-size: 14px;
  }
  .menu {
    gap: 36px;
  }
}
@media (max-width: 899px) {
  .menu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
  }

  #menu {
    padding-left: 0px;
  }

  .burger {
    display: flex;
  }

  .navbar {
    justify-content: space-between;
  }

  .navbar.active .menu {
    display: flex; /* Show the menu when the "active" class is present */
    flex-direction: column;
  }

  .nav-dropdown.active {
    text-align: center;
    display: flex;
    flex-direction: column;
    height: auto;
    padding: 20px;
    background-color: #eeebeb;
    border-radius: 10px;
    position: absolute;
    top: 65px;
    right: 15px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-color: transparent;
    opacity: 1;
    visibility: visible;
  }

  .nav-dropdown a {
    text-decoration: none;
    color: #ff6200;
    cursor: pointer;
    height: 35px;
    font-weight: 500;
  }

  .nav-dropdown a:visited {
    text-decoration: none;
    color: #ff6200;
  }
}
