<header>
  <nav class="navbar">
    <div class="logo">
      <a routerLink="/">
        <img src="../../../../../assets/images/new-logo-update.webp" alt="" />
      </a>
    </div>
    <div class="menu" id="menu">
      <a routerLink="/why">Why</a>
      <a routerLink="/talent-pool">Talent Pool</a>
    </div>
    <!-- <div class="menu hire-developer-btn">
      <a (click)="logoutOrOpenModal()" id="login-set">
        {{ isAuthenticated() ? "Logout" : "Login" }}
      </a>
      <a (click)="openHireDev()" class="hire-dev">Hire a Developer</a>
    </div> -->
    <div class="menu hire-developer-btn">
      <a (click)="logoutOrOpenModal()" id="login-set">
        {{ isAuthenticated() ? "Logout" : "Login" }}
      </a>
      <a *ngIf="isAuthenticated()" (click)="viewCV()" class="hire-dev"
        >View CV</a
      >
      <a *ngIf="!isAuthenticated()" (click)="openHireDev()" class="hire-dev"
        >Hire a Developer</a
      >
      <!-- Add additional links as needed -->
    </div>

    <div
      (click)="toggleMobileMenu()"
      class="burger"
      id="burger"
      [class.active]="isMobileMenuOpen"
    >
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
    <div class="nav-dropdown" [class.active]="isMobileMenuOpen">
      <a *ngIf="!isAuthenticated()" (click)="openHireDev()" class="hire-dev"
        >Hire a Developer</a
      >
      <a routerLink="/talent-pool">Talent Pool</a>
      <a routerLink="/why">Why</a>
      <a routerLink="/startup">Services</a>
    </div>
  </nav>
</header>
