@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.filter-form {
  max-width: 100%;
  margin: 0 auto;
  padding: 1.25rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  background-color: #fff;
  border-radius: .6875rem;
  margin: 3rem 0rem 1.875rem 0;
  box-shadow: 0 .0625rem .125rem rgba(56, 65, 74, 0.15);
  font-family: "Poppins", sans-serif;
}

.has-error input,
.has-error select,
.has-error textarea {
  border-color: red !important;
}

.error {
  color: red;
  font-size: 0.8em;
  margin-top: 0.5em;
}

.error-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f8d7da;
  border: .0625rem solid #f5c6cb;
  color: #721c24;
  padding: 1.25rem;
  border-radius: .3125rem;
  margin-top: 1.25rem;
  margin-bottom: 1em;
  box-shadow: 0 .25rem .375rem rgba(0, 0, 0, 0.1);
}

.error-message {
  font-size: 1.2em;
  margin-left: .625rem;
}

.error-icon {
  font-size: 1.5em;
  color: #721c24;
}

.form-group {
  margin-bottom: 1.25rem;
  width: 32%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

:focus-visible {
  outline: .125rem solid #0074fd;
}

.form-group-full-width {
  width: 100%;
}

.error {
  color: red;
  font-size: .6875rem;
}

.my_form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group i {
  position: absolute;
  color: #b9b9b9;
  font-size: .875rem;
  position: absolute;
  color: #b9b9b9;
  top: .75rem;
  left: .5625rem;
}

.form-group label {
  display: block;
  margin-bottom: .3125rem;
  font-size: .625rem;
  position: absolute;
  top: -0.4375rem;
  left: .6875rem;
  padding: 0 .3125rem;
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 40%, #f5f6fb 61%);
}

.form-group input,
.form-group select,
.form-group textarea {
  padding: .625rem;
  border: .0625rem solid #ccc;
  border-radius: .25rem;
  font-size: .625rem;
  color: #757575;
  padding-left: 2.375rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  background-color: #f5f6fb;
}

.form-group textarea {
  min-height: 6.25rem;
}

.dashboard {
  position: relative;
  margin-top: 4.375rem;
  max-width: 76%;
  width: 100%;
  margin: 4.375rem auto 0 auto;

}

.new_sale_wrapper {
  background-color: #fff;
  border-radius: .5rem;
  border: 1px solid #dbe0e5;
  box-shadow: 0px 8px 24px rgba(27, 46, 94, 0.12);
  border-radius: 15px;
  margin-bottom: 30px;
  width: 67%;
}
.form-body{
  padding: 20px;
}

.inner-header-heading {
  width: 100%;
  text-align: center;
  color: #fff;
  font-size: 2.0625rem;
  position: relative;
  z-index: 2;
  font-weight: 600;
  letter-spacing: .125rem;
  text-transform: capitalize;
}

.dashboard_inner_header {
  min-height: 5.625rem;
  background-position: center;
  background-size: cover;
  max-width: 100%;
  border-radius: .9375rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.25rem;
  position: relative;
  margin: 0 0 2.5rem 0;
}

.dashboard_inner_header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -1.375rem;
  --bgWidth: 625rem;
  height: 6.25rem;
  background: linear-gradient(to right,
      #1e5799 0%,
      #33167a 19%,
      #5449eb 60%,
      #8700a3 83%,
      #1e5799 100%);
  background-size: var(--bgWidth) 100%;
  animation: bg 10s linear infinite;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: .9375rem;
}

.dns_inner_img img {
  max-width: 12.5rem;
  position: relative;
}

.dsi_half_right {
  position: relative;
}

.dsi_half_right img {
  position: absolute;
  right: 0;
  bottom: -4rem;
  width: 19.425rem;
  max-width: 19.525rem;
}

.form-button {
  padding: .625rem 1.25rem;
  color: white;
  border: none;
  border-radius: .3125rem;
  cursor: pointer;
  margin-left: auto;
  background: linear-gradient(90deg, #0e5298 47%, #0057b8 100%);
  width: 8.9375rem;
  min-height: 2.625rem;
  font-size: 1.1875rem;
  margin: 13px auto 0 auto;
}

/* [type="date"]::-webkit-inner-spin-button {
  display: none;
} */
/* -------------------------------------------------------important css of form---------------------------------------- */
[type="date"] {
  cursor: pointer;
}

[type="date"]::-webkit-calendar-picker-indicator,
[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0%;
  /* background-color: red; */
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  padding: 0;
  cursor: pointer;
}

.form-group select option {
  position: relative;
}

.form-group select option::after {
  content: "222";
  position: relative;
}

.form-group select {
  cursor: pointer;
}

/* -------------------------------------------------------important css of form---------------------------------------- */

@keyframes bg {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: calc(var(--bgWidth) * 1);
  }
}

.form-group label span {
  color: red;
}

.inner-header-heading {
  font-size: 55px;
  color: #fff;
  font-weight: 500;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  font-family: "DM Sans", sans-serif;
}
/* form header css */
.form-header{
  padding: 20px 15px;
  border-bottom: 1px solid #d7dce4;
}
.form-header button{
  border: none;
  background-color: transparent;
  color: #8090a1;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.4;
  font-family: "Poppins", sans-serif;
  position: relative;
}
.form-header button::before{
  content: "";
  position: absolute;
  left: 0;
  bottom: -21px;
  width: 100%;
  height: 2px;
  background-color: transparent;
}
.form-header button.active::before,
.form-header button:hover::before{
  background-color: #0071fd;
}

.form-header button.active,
.form-header button:hover{
  color: #1e2b51;
}
.form-header-btn-wrap{
  display: flex;
  align-items: center;
  justify-content: start;
  gap: .9375rem;
}
/* user css is start from here */
.user-info-header {
  width: 150px;
  height: 150px;
  position: relative;
}

.user-info-header>img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.camera {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #06234c;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  border: 5px solid #fff;
  cursor: pointer;
}

.info-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #d7dce4;
  padding: 1.25rem;
}

.info-details p {
  font-size: .875rem;
  font-weight: 500;
  color: #1e2b51;
}

.info-details span {
  font-size: .875rem;
  font-weight: 700;
  color: #1e2b51;
}

.info-details:nth-child(2) span {
  color: #ffaa00;
}

.info-details:nth-child(3) span {
  color: #2dace3;
}

.new_sale-gwrap {
  display: flex;
  align-items: start;
  justify-content: space-between;
  flex-wrap: wrap;
}

.del-list {
  padding: 0;
  width: 100%;
}

.user-info {
  width: 30%;
  background-color: #fff;
  border: 1px solid #dbe0e5;
  box-shadow: 0px 8px 24px rgba(27, 46, 94, 0.12);
  border-radius: .9375rem;
  margin-bottom: 1.875rem;
  padding: 1.625rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.user-footer,
.persone-info {
  width: 100%;
}
.name,
.its-comp{
  text-align: center;
}
.name{
  font-size: 1rem;
  font-weight: 700;
  color: #1e2b51;
  line-height: 1.3;
  text-transform: uppercase;
}
.its-comp{
  font-size: .875rem;
  font-weight: 500;
  color: #77889A;
  line-height: 1.4;
  text-transform: capitalize;

}
.persone-info {
  padding: 15px 0;
  border-bottom: 1px solid #d7dce4;
}

.v-pro {
  padding: 1.25rem;
}

.cpy-form-inp input {
  border: 1px solid #77889a;
  font-size: .875rem;
  font-weight: 500;
  color: #77889A;
  width: 100%;
  height: 2.625rem;
  background-color: transparent;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0 .9375rem;
}
.cpy-form-inp input:focus-visible{
  outline: none;
}

.view-pr-btn {
  border: 1px solid #77889a;
  font-size: .875rem;
  font-weight: 500;
  color: #77889A;
  width: 100%;
  height: 2.625rem;
  background-color: transparent;
  border-radius: .25rem;
}

.cpy-form-inp {
  display: flex;
  align-items: center;
  margin-top: .9375rem;
}

.cpy-form-inp button {
  border: 1px solid #77889a;
  height: 2.725rem;
  background-color: transparent;
  border-left: none;
  border-top-right-radius: .25rem;
  border-bottom-right-radius: .25rem;

}

@media screen and (max-width: 1500px) {
  .dashboard {
    max-width: 90%;
    width: 100%;
    margin: t0rem auto 0 auto;
  }
}

@media screen and (min-width: 1440px) {

  .form-group input,
  .form-group select {
    font-size: .75rem;
  }

  .form-group i {
    font-size: 1.0625rem;
  }
}