<div class="central-image">
  <h1>Unauthorized</h1>
  <img src="assets/images/unauthorized.svg" />
  <p class="infoText">
    You are seeing this message because you attempted to access information
    without the necessary permissions. Unauthorized access compromises data
    security and privacy. Ensure you use valid credentials and have the
    appropriate permissions. If you believe you need access, contact the system
    administrator or your supervisor to request permissions.
  </p>
</div>
