<form
  [formGroup]="filterForm"
  (ngSubmit)="onFilterSubmit()"
  class="filter-form"
>
  <div class="form-group">
    <!-- <label for="id">ID</label> -->
    <i class="material-icons">input</i>
    <input formControlName="id" placeholder="ID" />
  </div>

  <div class="form-group">
    <i class="material-icons">calendar_month</i>
    <input formControlName="createdAt" placeholder="Created At" type="date" />
  </div>

  <div class="form-group">
    <i class="material-icons">calendar_month</i>
    <input formControlName="updatedAt" placeholder="Updated At" type="date" />
  </div>

  <div class="form-group">
    <i class="material-icons">calendar_month</i>
    <input formControlName="startDate" placeholder="Start Date" type="date" />
  </div>

  <div class="form-group">
    <i class="material-icons">calendar_month</i>
    <input formControlName="endDate" placeholder="End Date" type="date" />
  </div>

  <div class="form-group">
    <i class="material-icons">calendar_month</i>
    <input formControlName="orderDate" placeholder="Order Date" type="date" />
  </div>

  <div class="form-group">
    <i class="material-icons">person</i>
    <input formControlName="cx_firstName" placeholder="Customer First Name" />
  </div>

  <div class="form-group">
    <i class="material-icons">person</i>
    <input formControlName="cx_lastName" placeholder="Customer Last Name" />
  </div>

  <div class="form-group">
    <i class="material-icons">assignment</i>
    <input formControlName="orderNumber" placeholder="Order Number" />
  </div>

  <div class="form-group">
    <i class="material-icons">calendar_month</i>
    <input
      formControlName="installationDate"
      placeholder="Installation Date"
      type="date"
    />
  </div>

  <div class="form-group">
    <i class="material-icons">schedule</i>
    <input formControlName="installationTime" placeholder="08:00:00" />
  </div>

  <div class="form-group">
    <i class="material-icons">location_on</i>
    <input formControlName="streetAddress" placeholder="Street Address" />
  </div>

  <div class="form-group">
    <i class="material-icons">location_on</i>
    <input
      formControlName="streetAddressLine2"
      placeholder="Street Address Line 2"
    />
  </div>

  <div class="form-group">
    <!-- City Icon -->
    <i class="material-icons">location_city</i>
    <input formControlName="city" placeholder="City" />
  </div>

  <div class="form-group">
    <i class="material-icons">local_post_office</i>
    <input formControlName="zipcode" placeholder="Zipcode" />
  </div>

  <div class="form-group">
    <i class="material-icons">phone</i>
    <input formControlName="phoneNumber" placeholder="Phone Number" />
  </div>

  <div class="form-group">
    <i class="material-icons">phone</i>
    <input
      formControlName="phoneNumber_second"
      placeholder="Second Phone Number"
    />
  </div>

  <div class="form-group">
    <i class="material-icons">phone</i>
    <input
      formControlName="socialSecurityNumber"
      placeholder="Social Security Number"
    />
  </div>

  <div class="form-group">
    <i class="material-icons">email</i>
    <input formControlName="email" placeholder="Email" />
  </div>

  <div class="form-group">
    <i class="material-icons">local_offer</i>
    <input formControlName="product" placeholder="Product" />
  </div>

  <div class="form-group">
    <i class="material-icons">done</i>
    <input formControlName="packageSold" placeholder="Package Sold" />
  </div>

  <div class="form-group">
    <i class="material-icons">event</i>
    <input formControlName="concertOrderId" placeholder="Concert Order ID" />
  </div>

  <div class="form-group">
    <i class="material-icons">build</i>
    <select formControlName="installation">
      <option value="">Select Installation Status</option>
      <option *ngFor="let status of saleStatuses" [value]="status">
        {{ status }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <i class="material-icons">info</i>
    <select formControlName="state">
      <option value="">Select State</option>
      <option *ngFor="let state of USStates" [value]="state">
        {{ state }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <i class="material-icons">verified</i>
    <select formControlName="comcastTpvStatus">
      <option value="">Select TPV Status</option>
      <option *ngFor="let status of TpvStatuses" [value]="status">
        {{ status }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <i class="material-icons">wifi</i>
    <select formControlName="Internet">
      <option value="">Select Internet Package</option>
      <option *ngFor="let package of InternetPackages" [value]="package">
        {{ package }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <i class="material-icons">tv</i>
    <select formControlName="TV">
      <option value="">Select TV Package</option>
      <option *ngFor="let tv of TVPackages" [value]="tv">
        {{ tv }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <i class="material-icons">phone</i>
    <select formControlName="Phone">
      <option value="">Select Phone Option</option>
      <option *ngFor="let phone of PhonePackages" [value]="phone">
        {{ phone }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <i class="material-icons">phone_android</i>
    <select formControlName="HMS">
      <option value="">Select Home Security Option</option>
      <option *ngFor="let hms of HMSPackages" [value]="hms">
        {{ hms }}
      </option>
    </select>
  </div>

  <!-- <div class="form-group">
    <label for="agentName">agentName</label>
    <input formControlName="agentName" placeholder="Agent Name" />
  </div> -->

  <div class="form-group">
    <i class="material-icons">person</i>
    <select formControlName="agentName">
      <option value="">Select an Agent</option>
      <option *ngFor="let name of agentNames" [value]="name">
        {{ name }}
      </option>
    </select>
  </div>

  <button type="submit">Submit</button>
</form>
