<form
  [formGroup]="filterForm"
  (ngSubmit)="onFilterSubmit()"
  class="filter-form"
>
  <div class="form-group">
    <label for="id">ID</label>
    <input formControlName="id" placeholder="ID" />
  </div>

  <div class="form-group">
    <label for="createdAt">Created At</label>
    <input formControlName="createdAt" placeholder="Created At" type="date" />
  </div>

  <div class="form-group">
    <label for="updatedAt">Updated At</label>
    <input formControlName="updatedAt" placeholder="Updated At" type="date" />
  </div>

  <div class="form-group">
    <label for="startDate">Start Date</label>
    <input formControlName="startDate" placeholder="Start Date" type="date" />
  </div>

  <div class="form-group">
    <label for="endDate">End Date</label>
    <input formControlName="endDate" placeholder="End Date" type="date" />
  </div>

  <div class="form-group">
    <label for="orderDate">Order Date</label>
    <input formControlName="orderDate" placeholder="Order Date" type="date" />
  </div>

  <div class="form-group">
    <label for="cx_firstName">Customer First Name</label>
    <input formControlName="cx_firstName" placeholder="Customer First Name" />
  </div>

  <div class="form-group">
    <label for="cx_lastName">Customer Last Name</label>
    <input formControlName="cx_lastName" placeholder="Customer Last Name" />
  </div>

  <div class="form-group">
    <label for="orderNumber">Order Number</label>
    <input formControlName="orderNumber" placeholder="Order Number" />
  </div>

  <div class="form-group">
    <label for="installationDate">Installation Date</label>
    <input
      formControlName="installationDate"
      placeholder="Installation Date"
      type="date"
    />
  </div>

  <div class="form-group">
    <label for="installationTime">Installation Time</label>
    <input formControlName="installationTime" placeholder="08:00:00" />
  </div>

  <div class="form-group">
    <label for="streetAddress">Street Address</label>
    <input formControlName="streetAddress" placeholder="Street Address" />
  </div>

  <div class="form-group">
    <label for="streetAddressLine2">Street Address Line 2</label>
    <input
      formControlName="streetAddressLine2"
      placeholder="Street Address Line 2"
    />
  </div>

  <div class="form-group">
    <label for="city">City</label>
    <input formControlName="city" placeholder="City" />
  </div>

  <div class="form-group">
    <label for="zipcode">Zipcode</label>
    <input formControlName="zipcode" placeholder="Zipcode" />
  </div>

  <div class="form-group">
    <label for="phoneNumber">PhoneNumber</label>
    <input formControlName="phoneNumber" placeholder="Phone Number" />
  </div>

  <div class="form-group">
    <label for="phoneNumber_second">Secondary Phone Number</label>
    <input
      formControlName="phoneNumber_second"
      placeholder="Second Phone Number"
    />
  </div>

  <div class="form-group">
    <label for="socialSecurityNumber">Social Security Number</label>
    <input
      formControlName="socialSecurityNumber"
      placeholder="Social Security Number"
    />
  </div>

  <div class="form-group">
    <label for="email">Email</label>
    <input formControlName="email" placeholder="Email" />
  </div>

  <div class="form-group">
    <label for="product">Product</label>
    <input formControlName="product" placeholder="Product" />
  </div>

  <div class="form-group">
    <label for="packageSold">Package Sold</label>
    <input formControlName="packageSold" placeholder="Package Sold" />
  </div>

  <div class="form-group">
    <label for="concertOrderId">Concert Order ID</label>
    <input formControlName="concertOrderId" placeholder="Concert Order ID" />
  </div>

  <div class="form-group">
    <label for="installation">Installation</label>
    <select formControlName="installation">
      <option value="">Select Installation Status</option>
      <option *ngFor="let status of saleStatuses" [value]="status">
        {{ status }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="state">State</label>
    <select formControlName="state">
      <option value="">Select State</option>
      <option *ngFor="let state of USStates" [value]="state">
        {{ state }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="comcastTpvStatus">Comcast TPV Status</label>
    <select formControlName="comcastTpvStatus">
      <option value="">Select TPV Status</option>
      <option *ngFor="let status of TpvStatuses" [value]="status">
        {{ status }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="Internet">Internet</label>
    <select formControlName="Internet">
      <option value="">Select Internet Package</option>
      <option *ngFor="let package of InternetPackages" [value]="package">
        {{ package }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="TV">TV</label>
    <select formControlName="TV">
      <option value="">Select TV Package</option>
      <option *ngFor="let tv of TVPackages" [value]="tv">
        {{ tv }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="Phone">Phone</label>
    <select formControlName="Phone">
      <option value="">Select Phone Option</option>
      <option *ngFor="let phone of PhonePackages" [value]="phone">
        {{ phone }}
      </option>
    </select>
  </div>

  <div class="form-group">
    <label for="HMS">Home Security</label>
    <select formControlName="HMS">
      <option value="">Select Home Security Option</option>
      <option *ngFor="let hms of HMSPackages" [value]="hms">
        {{ hms }}
      </option>
    </select>
  </div>

  <!-- <div class="form-group">
    <label for="agentName">agentName</label>
    <input formControlName="agentName" placeholder="Agent Name" />
  </div> -->

  <div class="form-group">
    <label for="agentName">Sales Agent Name</label>
    <select formControlName="agentName">
      <option value="">Select an Agent</option>
      <option *ngFor="let name of agentNames" [value]="name">
        {{ name }}
      </option>
    </select>
  </div>

  <button type="submit">Submit</button>
</form>
