.filter-form {
  max-width: 100%;
  margin: 0 auto;
  padding: 20px;
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}

.form-group {
  margin-bottom: 20px;
  width: 25%;
  position: relative;
}
.form-group i {
  position: absolute;
  color: #b9b9b9;
  font-size: 14px;
  position: absolute;
  color: #b9b9b9;
  top: 10px;
  left: 9px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-size: 10px;
  position: absolute;
  top: -7px;
  left: 11px;
  background-color: #fff;
  padding: 0 5px;
}

.form-group input,
.form-group select {
  width: 83%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 10px;
  color: #757575;
  padding-left: 38px;
}
.form-group input:focus-visible{
  border-color: #fff;
  background-color: #ffac0b;
  outline: none;
  color: #ffffff;
}

.form-group select {
  width: 96%;
}

button[type="submit"] {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 21px;
  margin-left: auto;
}

button[type="submit"]:hover {
  background-color: #0056b3;
  height: auto;
}
.form-group button {
  padding: 0;
  height: 34px;
  width: 66px;
}
.form-group::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 33px;
  width: 1px;
  height: 16px;
  background: #b5b5b5;
}
.form-group input:focus-visible ~ i {
  color: #fff;
}
@media screen and (max-width:1600px) {
  .form-group input {
  width: 77%;
}
}
