.basic-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #f3f3f9;
}
.ng-star-inserted {
  width: 100%;
}
.main-screen {
  width: 100%;
  height: calc(100vh - 25px);
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  background-color: #f4f7fa;
}
.my_opppen{
  width: 250px;
  transition: 0.5s;
  scroll-behavior:smooth ;
}
.now_closed{
  width: 0px;
  overflow: hidden;
  display: inline-block;
}


