.basic-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: #f5f6fb;
}
.ng-star-inserted {
  width: 100%;
}
.main-screen {
  width: 100%;
  height: calc(100vh);
  overflow-x: hidden;
  overflow-y: auto;
  position: relative;
  background-color: transparent;
}
.my_opppen{
  width: 15.625rem;
  transition: 0.5s;
  scroll-behavior:smooth ;
  display: block;
  overflow: hidden;
}
.now_closed{
  width: 0px;
  overflow: hidden;
  display: inline-block;
}
.rightsidebar{
  position: fixed;
  top: 0;
  right: -22rem;
  height: 100vh;
  z-index: 1;
  transition: 0.5s;
}
.showSidebar{
  right: 0px;
}
.top_navBar{
  position: sticky;
  top: 0;
  z-index: 3;
}