<div class="graphs">
  <div class="cards_wraper">
    <div class="graph_cards">
      <h4>
        Daily Sales
      </h4>
      <p class="slae_base">
        <span class="slae_in_doller">
          $249.95
        </span>
        <span class="slae_inpercent">
          77%
        </span>
      </p>
      <div class="per_content">
        <p class="bar_heading">
          You made an extra 35,000 this daily
        </p>
        <div class="bar">
          <div class="progres_inner" style="width: 77%;">

          </div>
        </div>
        <img class="gcard_image" src="../../../../../assets/images/img-status-7.svg" alt="">
      </div>
    </div>
    <div class="graph_cards">
      <h4>
        Daily Sales
      </h4>
      <p class="slae_base">
        <span class="slae_in_doller">
          $249.95
        </span>
        <span class="slae_inpercent">
          55%
        </span>
      </p>
      <div class="per_content">
        <p class="bar_heading">
          You made an extra 35,000 this daily
        </p>
        <div class="bar">
          <div class="progres_inner" style="width: 55%;">
          </div>
        </div>
        <img class="gcard_image" src="../../../../../assets/images/img-status-4.svg" alt="">
      </div>
    </div>
    <div class="graph_cards">
      <h4>
        Daily Sales
      </h4>
      <p class="slae_base">
        <span class="slae_in_doller">
          $249.95
        </span>
        <span class="slae_inpercent ">
          36%
        </span>
      </p>
      <div class="per_content">
        <p class="bar_heading">
          You made an extra 35,000 this daily
        </p>
        <div class="bar">
          <div class="progres_inner" style="width: 33%;">
          </div>
        </div>
      </div>
      <img class="gcard_image" src="../../../../../assets/images/img-status-5.svg" alt="">
    </div>
  </div>
  <div class="graphs_wraper">
    <div class="graphContainer">
      <h2>Line Graph</h2>
      <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [type]="'line'">
      </canvas>
    </div>
    <div class="graphContainer">
      <h2>Bar Graph</h2>
      <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [type]="'bar'">
      </canvas>
    </div>
    <div class="graphContainer">
      <h2>Radar Graph</h2>
      <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [type]="'radar'">
      </canvas>
    </div>
    <div class="graphContainer">
      <h2>Pie Chart</h2>
      <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [type]="'pie'">
      </canvas>
    </div>
    <div class="graphContainer">
      <h2>Polar Area</h2>
      <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [type]="'polarArea'">
      </canvas>
    </div>
    <div class="graphContainer">
      <h2>Doughnut</h2>
      <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [type]="'doughnut'">
      </canvas>
    </div>
    <div class="graphContainer">
      <h2>Scatter Graph</h2>
      <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [type]="'scatter'">
      </canvas>
    </div>
    <div class="graphContainer">
      <h2>Bubble Graph</h2>
      <canvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions" [type]="'bubble'">
      </canvas>
    </div>
  </div>
</div>