.graphs {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjust this as needed */
  align-items: center;
  row-gap: 6rem;
  /* margin-top: 30px; */
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.graphs canvas {
  margin: 10px; /* Add margin to ensure there's space between graphs */
  width: 30vw;
}
/* app-homepage.ng-star-inserted {
  height: 100vh;
  overflow: auto;
} */