.graphs {
  /* margin-top: 30px; */
  height: auto;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 2rem;
  width: calc(100% - 4rem);
  overflow-y: scroll;
  /* height: calc(100vh - 4rem); */
}
.graphs_wraper{
  
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center; /* Adjust this as needed */
  align-items: flex-start;
  row-gap: 1rem;
  column-gap: 1rem;
}
.graphContainer {
  width: 24%;
  height: 33vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 16px;
  padding: 30px;
  padding-top: 10px;
}
/*cards css start */
.card {
  background-color: #ffffff;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 0px 30px 0px rgba(162, 162, 162, 0.5);
  width: 16%; /* Increased width for better visibility */
  min-height: 100px; /* Ensuring cards are uniformly sized */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  padding: 30px;
}
.card:hover {
  transform: translateY(-10px);
}

.card i.material-icons {
  font-size: 40px; /* Larger icon for better visibility */
  color: #7314da; /* Adding a splash of color */
  margin-bottom: 10px;
}

.card p {
  font-size: 14px; /* Larger text for readability */
  color: #331679;
  font-weight: 700;

}
.ng-star-inserted {
  width: 97%;
}

h2 {
  font-weight: 400;
  color: #4d4444;
}
@media screen and (max-width:1600px) {
  .graphContainer[_ngcontent-ng-c603988707] {
    width: 38%;
}
}
/*test cards css start from here*/
.card {
  box-shadow: 0px 8px 24px rgba(27, 46, 94, 0.12);
  margin-bottom: 24px;
  transition: box-shadow 0.2s ease-in-out;
}
.statistics-card-1 .card-body {
  position: relative;
  overflow: hidden;
}
.card-body {
  flex: 1 1 auto;
  padding: 25px;
}
.statistics-card-1 .card-body .img-bg {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}