<div class="graphs">
  <div>
    <canvas
      baseChart
      [datasets]="chartData"
      [labels]="chartLabels"
      [options]="chartOptions"
      [type]="chartType"
    >
    </canvas>
  </div>

  <div>
    <canvas
      baseChart
      [datasets]="chartData"
      [labels]="chartLabels"
      [options]="chartOptions"
      [type]="'bar'"
    >
    </canvas>
  </div>
  <div>
    <canvas
      baseChart
      [datasets]="chartData"
      [labels]="chartLabels"
      [options]="chartOptions"
      [type]="'radar'"
    >
    </canvas>
  </div>
  <div>
    <canvas
      baseChart
      [datasets]="chartData"
      [labels]="chartLabels"
      [options]="chartOptions"
      [type]="'pie'"
    >
    </canvas>
  </div>
</div>
