.rightBar {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  justify-content: start;
  align-items: center;
  overflow-y: scroll;
  height: calc(100vh - 20px);
}

.rightBar .component-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.rightBar .image-container {
  text-align: center;
}

.rightBar .image-container img {
  width: 90%;
}
.rightBarTitle {
  padding: 23px 0;
  font-size: 25px;
  font-weight: 600;
}
.rightBar {
  background-color: #fff;
  padding: 10px 20px;
}
