<div class="top_header">
  <div>
    <button class="header_button" (click)="onButtonClick()">
      <i class="material-icons">menu</i>
    </button>
  </div>
  <div>
    <button class="header_button">
      <i class="material-icons">light_mode</i>
    </button>
    <button class="header_button setting_icon">
      <i class="material-icons">settings</i>
    </button>
    <button class="header_button">
      <i class="material-icons">diamond</i>
    </button>
    <button class="header_button">
      <i class="material-icons">notifications</i>
    </button>
    <button class="header_button avatar" (click)="onRightButtonClick()">
      <img src="../../../../../assets/images/avatar-2.jpg" alt="" />
    </button>
  </div>
</div>
