.top_header {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #91b8d6af;
  position: static;
  top: 0;
}
.header_button {
  border: none;
  background-color: none;
}

img {
  max-width: 100%;
}
.top_header {
  padding: 15px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f7fa;
  position: static;
  top: 0;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}
.top_header i {
  color: #39465f;
  font-size: 25px;
}
.header_button {
  border: none;
  background-color: transparent;
  width: 25px;
  height: 25px;
  margin: 0 8px;
}
.avatar {
  border-radius: 100%;
  padding: 0;
  overflow: hidden;
}
.setting_icon i {
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
