<footer class="all-footer">
  <div class="innov8ivs-footer">
    <div class="footer-1 footer-same">
      <div class="main-footer-section">
        <div class="footer-ineer-section">
          <img
            src="../../../../../assets/images/new-footer-update.webp"
            alt=""
          />
          <p>
            Our platform is designed to streamline and simplify your hiring
            journey, allowing you to recruit with ease.
          </p>
          <p>
            Office # 418, 6136 Frisco Square Blvd, Suite 400, Frisco, Texas,
            75034
          </p>
        </div>
        <div class="footer-ineer-section footer-inner-sec">
          <h4><span>D</span>iscover.</h4>
          <ul>
            <li><a routerLink="why">Why</a></li>
            <li><a routerLink="talent-pool">Talent Pool</a></li>
            <li><a routerLink="/startup">Services Form</a></li>
          </ul>
        </div>
        <div class="footer-ineer-section">
          <h4><span>R</span>esources.</h4>
          <ul>
            <li><a routerLink="talent-pool">Blog</a></li>
          </ul>
        </div>
        <div class="footer-ineer-section">
          <h4><span>C</span>areers.</h4>
          <ul>
            <li><a routerLink="talent-pool">Jobs Opportunities</a></li>
          </ul>
        </div>
      </div>
      <div class="footer-bottom">
        <div class="footer-tagline">
          <p>© 2023 Innov8ives. All Rights Reserved</p>
        </div>
        <div class="footer-bottom-list">
          <ul>
            <li><a routerLink="talent-pool">Private policy</a></li>
            <li><a routerLink="talent-pool">Terms of Services</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-2 footer-same">
      <div class="new-footer-news">
        <h4>Get in <span>Touch.</span></h4>
        <div class="get-in-touch">
          <a href="tel:469-283-6002">Contact Us</a>
          <a (click)="openShortForm()" class="sec-a-call">Schedule a Call</a>
        </div>
        <p>Feel Free to contact Us.</p>
        <div class="footer-icons">
          <img
            src="../../../../../assets/images/innov8ivs-footer-call-icon.svg"
            alt=""
          />
          <a href="tel:469-283-6002">469-283-6002</a>
        </div>
        <div class="footer-icons">
          <img
            src="../../../../../assets/images/innov8ivs-footer-gmail-icon.svg"
            alt=""
          />
          <a href="mailto:sales@innov8ivs.com">sales@innov8ivs.com</a>
        </div>
        <h5>
          Get in <span>Insight</span> from experts on building<br />
          and scaling technology teams.
        </h5>
      </div>

      <div class="new-footer-news">
        <h5>Subscribe to the <span>Newsletter.</span></h5>
        <div class="newsletter-search">
          <input type="text" placeholder="Email Address" />
          <button>Subscribe</button>
        </div>
        <div class="cheach-boxed">
          <input type="checkbox" />
          <p>By subscribing I accept the private policy.</p>
        </div>
        <div class="social-icons">
          <h4>Follow <span>Us.</span></h4>
          <div class="social-icons-images">
            <a href="#"
              ><img
                src="../../../../../assets/images/innov8ivs-footer-social-fb-icon.webp"
                alt=""
            /></a>
            <a href="#"
              ><img
                src="../../../../../assets/images/innov8ivs-footer-social-tw-icon.webp"
                alt=""
            /></a>
            <a href="#"
              ><img
                src="../../../../../assets/images/innov8ivs-footer-social-insta-icon.webp"
                alt=""
            /></a>
            <a href="#"
              ><img
                src="../../../../../assets/images/innov8ivs-footer-social-link-icon.webp"
                alt=""
            /></a>
            <a href="#"
              ><img
                src="../../../../../assets/images/innov8ivs-footer-social-google-icon.webp"
                alt=""
            /></a>
            <a href="#"
              ><img
                src="../../../../../assets/images/innov8ivs-footer-social-fb-icon.webp"
                alt=""
            /></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
