.userfeed-section {
  width: 100%; /* Adjust as needed for your sidebar */
  margin: 0 auto;
  /* padding: 10px; */
  background-color: #f9f9f9;
  /* border: 1px solid #ddd; */
  border-radius: 5px;
  overflow: hidden;
}
.pet_heading {
  font-size: 18px;
  text-align: center;
}
.userfeed-section h2 {
  font-size: 1.5em;
  /* margin-bottom: 10px; */
}

.userfeed-list {
  list-style-type: none;
  padding: 0;
}

.userfeed-list li {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid #ddd;
}

.userfeed-list .date {
  font-weight: bold;
  color: #333;
}

.userfeed-list .change-description {
  flex-grow: 1;
  margin-left: 10px;
  color: #666;
}
.date{
  font-size: 13px;
  color: #1d1c1c;
  min-width: 4.625rem;
  flex-shrink: revert-layer;
}
.change-description {
  font-size: 13px;
}
.pet_heading {
  background-color: #880ef5;
  color: #fff;
  padding: 12px 10px;
}
.userfeed-list li{
  padding: 5px 15px;
}
.userfeed-list li:nth-child(odd) {
  background-color: #ebf3f9;
}