<main>
  <div class="dashboard">
    <div
      routerLink="filter"
      role="link"
      tabindex="0"
      class="card"
      aria-label="Navigate to New Sale"
    >
      <i class="material-icons">add_shopping_cart</i>
      <p>New Sale</p>
    </div>
    <div
      routerLink="filter"
      role="link"
      tabindex="0"
      class="card"
      aria-label="Navigate to Xfinity Sale Filter"
    >
      <i class="material-icons">filter_alt</i>
      <p>Xfinity Sale Filter</p>
    </div>
    <div
      routerLink="filter"
      role="link"
      tabindex="0"
      class="card"
      aria-label="Navigate to Input New File"
    >
      <i class="material-icons">insert_drive_file</i>
      <p>Input New File</p>
    </div>
    <div
      routerLink="filter"
      role="link"
      tabindex="0"
      class="card"
      aria-label="Navigate to Agent Review"
    >
      <i class="material-icons">rate_review</i>
      <p>Agent Review</p>
    </div>
    <div
      routerLink="filter"
      role="link"
      tabindex="0"
      class="card"
      aria-label="Navigate to Xfinity Statistics"
    >
      <i class="material-icons">bar_chart</i>
      <p>Xfinity Statistics</p>
    </div>
    <div
      routerLink="filter"
      role="link"
      tabindex="0"
      class="card"
      aria-label="Navigate to Xfinity Insights"
    >
      <i class="material-icons">insights</i>
      <p>Xfinity Insights</p>
    </div>
    <div
      routerLink="filter"
      role="link"
      tabindex="0"
      class="card"
      aria-label="Navigate to Unfinished Leads"
    >
      <i class="material-icons">warning</i>
      <p>Unfinished Leads</p>
    </div>
  </div>
</main>
