main[_ngcontent-ng-c2913988393] {
  /* display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center; */
  max-height: 97vh;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 15px;
}

.table-container {
  width: 78vw; /* or any specific width */
  overflow-x: auto; /* Enable horizontal scrolling */
  max-width: 100%; /* Ensure the container does not overflow its parent */
  overflow-y: auto; /* Enable vertical scrolling */
  max-height: 500px; /* Example fixed height */
  /* min-height: 400px; */
  margin: 0 auto;
}
@media screen and (min-width:1440px) {
  .table-container {
    width: 84vw;
}
}
table {
  width: 100%;
  background: #00a0ea;
  background-repeat: no-repeat;
}
table thead{
  position: sticky;
  top: 0;
}
table tr td{
  font-size: 12px;
  padding: 0 15px;
  font-family: "Roboto", sans-serif;
  color: #fff;
}
table tr:nth-child(odd){
  background-color: #52a9ec;
}
table tr td{
  min-width: 200px;
}
table tr th{
  background-color: #00a0ea;
  color: #fff;
}
th.mat-header-cell,
td.mat-cell {
  padding: 8px;
}
thead {
  position: sticky;
  top: 0;
}
/* .mat-elevation-z8 {
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
    0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
} */

.fileInput {
  height: 150px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  column-gap: 20px;
  align-items: center;
  margin-bottom:20px ;
}

.fileInputDescription {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  align-items: center;
  
}

.fileInputDescription mat-icon,
.fileInputDescription p{
color: #00224a;
}
.fileInputDescription p{
  font-weight: 500;
}