.active {
  display: flex;
}

.disabled {
  display: none;
}

.dashbord_out_wrap {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}
.dashboard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  position: relative;
  margin-top: 70px;
  max-width: 76%;
  width: 100%;
}
.tab-content_placeholder {
  width: 100%;
  max-width: 100%;
}
.card {
  background-color: #ffffff;
  border: none;
  border-radius: 15px;
  box-shadow: 0px 0px 30px 0px rgba(162, 162, 162, 0.5);
  width: 16%;
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
  text-align: center;
  padding: 30px;
}
.card:hover {
  transform: translateY(-10px);
}
.card i.material-icons {
  font-size: 40px; /* Larger icon for better visibility */
  color: #7314da; /* Adding a splash of color */
  margin-bottom: 10px;
}

.card p {
  font-size: 14px; /* Larger text for readability */
  color: #331679;
  font-weight: 700;
}
.vh_main {
  overflow-x: hidden;
  position: relative;
}
.dashboard_inner_header {
  min-height: 115px;
  background-position: center;
  background-size: cover;
  width: 100%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  justify-content: space-between;
  position: relative;
}
.dashboard_inner_header::before {
  content: "";
  position: absolute;
  top: 0;
  left: -22px;
  --bgWidth: 10000px;
  height: 100px;
  background: linear-gradient(
    to right,
    #1e5799 0%,
    #33167a 19%,
    #5449eb 60%,
    #8700a3 83%,
    #1e5799 100%
  );
  background-size: var(--bgWidth) 100%;
  animation: bg 10s linear infinite;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  border-radius: 15px;
}
.dns_inner_img img {
  max-width: 200px;
  position: relative;
}
.dsi_half_right {
  position: relative;
}
.dsi_half_right img {
  position: absolute;
  right: 0;
  bottom: -75px;
  width: 200px;
}
::-webkit-inner-spin-button,
::-webkit-calendar-picker-indicator {
    font-size: 1.2em; /* Increase the size of the icon */
}
@keyframes bg {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: calc(var(--bgWidth) * 1);
  }
}

.tabs {
  display: flex;
  margin-bottom: .625rem;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 15px;
  flex-wrap: wrap;
}

.tabs button {
    background-color: #ffffff;
  border: none;
  border-radius: .25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-align: center;
  padding: 0.7375rem 1.875rem;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  
}

.tabs button:hover {
  transition: transform 0.3s, box-shadow 0.3s;
  box-shadow: 0px 0px 30px 0px rgba(162, 162, 162, 0.5);
}

.tabs button.selected {
  box-shadow: 0px 0px 30px 0px rgba(162, 162, 162, 0.5);
  font-weight: 600;
  position: relative;
  border-bottom: 3px solid #731dc0;
}
.ng-star-inserted.selected::before {
  content: "";
  position: absolute;
  bottom: -13px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-bottom: 2px solid #731dc0;
  transform: rotate(45deg);
  border-right: 2px solid #731dc0;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.cards .card {
  margin: 10px;
  cursor: pointer;
  transition: transform 0.3s;
}

.cards .card:hover {
  transform: scale(1.05);
}

.tab-content {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-top: -1px;
  background-color: #fff;
}

@media screen and (max-width: 1500px) {
  .card {
    min-height: 110px; /* Ensuring cards are uniformly sized */
  }
  .dashboard {
    max-width: 85%;
  }
}
